<div class="row">
<h4>njgingrich</h4>
</div>
<div class="row">
    <div class="col-xs-11">
        {{text}}
    </div>
    <div class="col-xs-1">
        <button class="btn btn-warning" {{action 'deleteTweet'}}>X</button>
    </div>
</div>
<br>